*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

li{
    text-align: center;
    text-align: center;
}

.historia{
    padding: 25px;
}
.SubtituloDestaque{
    padding: 25px;
}
.SubtituloDestaquee{
    padding: 25px;
}
.texto{
    padding: 20px;
    height: 20px;
}
.subtitulo{
    padding: 20px;

}
footer{
    padding-top: 30px;
}
